---
import Layout from "../layouts/Layout.astro";

import { InputQr } from "@/components/InputQr";
---

<Layout title="Hi Buddy">
  <main class="h-screen flex mx-5 items-center justify-center">
    <div
      class="text-xl flex flex-col gap-3 border md:min-w-[26em] max-w-[38em] p-5"
    >
      <h1 class="text-3xl font-bold">Masukan QR-ID</h1>

      <div class="flex flex-col gap-2">
        <p>
          Masukan QR ID ke input form dibawah ini berdasarkan pengumuman dari
          panitia.
        </p>
        <p>Dimohon untuk menjunjung tinggi nilai kejujuran.</p>

        <p>Tanyakan teman atau hubungi panitia jika masalah terus berlanjut.</p>
      </div>

      <InputQr client:load />
    </div>
  </main>
</Layout>
