---
import Layout from "../layouts/Layout.astro";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
  rel="stylesheet"
/>

<Layout title="Hi Buddy">
  <main>
    <h1>What are you looking for?</h1>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    width: 80%;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
</style>
